/* https://coolors.co/6441a4-574ae2-222a68-2c2f33-ab81cd */

html {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background-color: #2C2F33;
}

body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: inherit;
  line-height: 60px;
  background-color: #6441a4;
  padding: 0 20px 0 20px;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav > section {
  width: 33%;
}

nav > section > a {
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #b5b5b5;
}

main {
  margin: 10px;
  overflow-wrap: break-word;
}

.active {
  color: #d5497c;
}

.left {
  float: left;
}

.right {
  float: right;
  text-align: right;
}

.center {
  text-align: center;
  margin: 0 auto;
}

#userHeader {
  display: flex;
}

#userHeader > section {
  margin: 20px;
  padding: 10px;
  margin-right: 50px;
  background-color: #6441a4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#userHeaderInfo {
  text-align: center;
}
