<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/../img/LurkerLogs.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/../css/base.css">
    <script src="/../js/base.js"></script>
    <title>LurkerLogs</title>
  </head>
  <body>
    <nav>
      <section>
        <a id="title">LurkerLogs</a>
        <a class="menuItem" href="/">Home</a>
        <a class="menuItem" href="/">Home</a>
        <a class="menuItem" href="/">Home</a>
        <a class="menuItem" href="/">Home</a>
        <a class="menuItem" href="/">Home</a>
      </section>
      <section class="center">
        <input type="text" name="Search engine" placeholder="Username" id="searchInput">
        <button type="button" name="Search" id="search">Search</button>
      </section>
      <section class="right" id="login">
        <button type="button" name="Login">Login</button>
      </section>
    </nav>
    <main>
