<% include header.ejs %>
<header>
  <h1>LurkerLogs</h1>
  <p>Get more insight into your chat stats and viewers!</p>
</header>
<article id="frontPage">
  <section class="subSection">
    <h2>Live recorded channels</h2>
    <% if (live && live[0]) { %>
        <ul>
          <% for (var e in live) { %>
            <li><a href="https://www.twitch.tv/<%= live[e].name %>" target="_blank"><%= live[e].name %></a> is currently live with <%= live[e].viewers %> viewers.<br><%= live[e].title %></li>
          <% } %>
        </ul>
    <% } else { %>
      <p>None of the recorded channels are currently live.</p>
    <% } %>
  </section>
  <section class="subSection">
    <h2>Offline recorded channels</h2>
    <% if (offline && offline[0]) { %>
        <ul>
          <% for (var e in offline) { %>
            <li><a href="https://www.twitch.tv/<%= offline[e].channelname %>" target="_blank"><%= offline[e].channelname %></a></li>
          <% } %>
        </ul>
    <% } else { %>
      <p>None of the recorded channels are currently offline.</p>
    <% } %>
  </section>
  <section class="subSection">
    <h2>Want your stream stats?</h2>
    <p>
      Do you want LurkerLogs in your channel? It's pretty easy to do so if you follow these steps.
    </p>
    <p>
    <ol>
      <li>Go to the <a href="https://www.twitch.tv/LurkerLogs" target="_blank">LurkerLogs Twitch channel</a></li>
      <li>Type "!join 'channel'" in the chat (you can only do this as broadcaster or mod for the given channel)</li>
      <li>???</li>
      <li>Enjoy the amazing experience of having LurkerLogs</li>
    </ol>
  </section>
  <section class="subSection" id="infoSection">
    <h2>What does LurkerLogs do?</h2>
    <p>
      LurkerLogs is a bot that lurks in your channel and records your viewers chat messages.<br>
      On this website, you can view these and compare them to other streamers and get some insight in how they behave across the platform.
      Besides logging users, we also keep track of viewer watch time and other statistics for viewers to enjoy.
    </p>
  </section>
</article>
<% include footer.ejs %>
