<% include header.ejs %>
  <% if(user && user['id']) { %>
    <h1 class="smallH"><%= user["display_name"] %></h1>
    <article>
      <section>
        <p>
          <% if (date) { %>Showing logs from <%= date %><br><% } %>
          <% if (streamer) { %><%= user["display_name"] %>'s logs from <%= streamer %>'s channel<% } %>
        </p>
      </section>
      <section>
        <p>
          <% if (timeInfo && streamer) { %>
            <%= user["display_name"] %> has watched <%= streamer %> for <b><%= timeInfo.online %></b> whilst streaming and spent <b><%= timeInfo.offline %></b> lurking in offline chat.
          <% } %>
        </p>
      </section>
    </article>
    <hr>
    <article>
      <h2 class="smallH">Options</h2>
      <section>
        <p>
          <label for="dateAsClock">Display date & time as clock</label>
          <input type="checkbox" id="dateAsClock" name="dateAsClock" checked><br>

          <label for="selectDate">Select date</label>
          <input type="date" id="selectDate" name="selectDate">
          or <button id="allLogs">Check all logs</button>
        </p>
      </section>
      <section>
        <p>
          <a href="/user/<%= user['id'] %>"><button>User page</button></a>
          <a href="https://www.twitch.tv/<%= user['name'] %>" target="_blank"><button>Twitch page <i class="fa fa-external-link"></i></button></a>
        </p>
      </section>
    </article>
    <hr>
    <% if (logs[0]) { %>
      <article>
        <% for (var e in logs) { %>
          <section class="message">
            <% if (logs[e].isMod && logs[e].streamerId == logs[e].userId) { %> <img class="icon" src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/1" alt="Icon for Twitch broadcaster">
            <% } else if (logs[e].isMod) { %> <img class="icon" src="https://static-cdn.jtvnw.net/chat-badges/mod.png" alt="Icon for Twitch subscriber"> <% } %>
            <% if (logs[e].isSub) { %> <img class="icon" src="https://static-cdn.jtvnw.net/badges/v1/5d9f2208-5dd8-11e7-8513-2ff4adfae661/1" alt="Icon for Twitch moderator"> <% } %>
            <i class="fa fa-clock-o clockDate icon" title="<%= logs[e].date %>"></i> <span class="rawDate"><%= logs[e].date.toLocaleString() %></span>
            <%= logs[e].displayName %>: <%= logs[e].log %>
          </section>
        <% } %>
      </article>
    <% } else { %>
      <p>This user / streamer has no chat history recorded</p>
    <% } %>
  <% } else { %>
    <p>This Twitch user does not exist</p>
  <% } %>
  <script src="/../js/log.js"></script>
<% include footer.ejs %>
