<% include header.ejs %>
<% if (logs[0]) { %>
  <article id="userHeader">
    <section id="userHeaderInfo">
      <h2><%= user['display_name'] %></h2>
      <h3><%= user['bio'] %></h3>
      <img src="<%= user['logo'] %>"/>
    </section>
    <section>
      <h2>Statistics</h2>
      <p>
        Active in <b><%= channels.length %></b> channels <br>
        <!-- Has had <b>X</b> usernames: X, X, X <br> -->
        Sent <b><%= logs.length %></b> messages with an average of <b><%= logs.length / channels.length %></b> messages per streamer <br>
        Modded in <b><%= (1 / channels.length) * 100 %>%</b> of the active recorded channels (X/<%= channels.length %>)
    </section>
    <section>
      <h2>Actions</h2>
      <p>
        <a href="/logs/<%= user['_id'] %>">Full channel logs</a><br>
        <a href="https://www.twitch.tv/<%= user['display_name'] %>" target="_blank"><%= user['display_name'] %>'s Twitch channel</a>
      </p>
    </section>
  </article>
  <hr>
  <% for (var c in channels) { %>
    <article>
      <h1><%= channels[c].username %></h1>
      <p>
        <% for (var e in logs) { %>
          <% if (logs[e].streamerId == channels[c].userId) { %>
            <% if (logs[e].isMod && channels[c].username == user['display_name']) { %> <img src="https://static-cdn.jtvnw.net/badges/v1/5527c58c-fb7d-422d-b71b-f309dcb85cc1/1" alt="Icon for Twitch broadcaster">
            <% } else if (logs[e].isMod) { %> <img src="https://static-cdn.jtvnw.net/chat-badges/mod.png" alt="Icon for Twitch subscriber"> <% } %>
            <% if (logs[e].isSub) { %> <img src="https://static-cdn.jtvnw.net/badges/v1/5d9f2208-5dd8-11e7-8513-2ff4adfae661/1" alt="Icon for Twitch moderator"> <% } %>
            <i class="fa fa-clock-o" title="<%= logs[e].date %>"></i> | <%= user['display_name'] %>: <%= logs[e].log %> <br>
          <% } %>
        <% } %>
      </p>
      <p><a href="/logs/<%= channels[c].userId %>/<%= logs[e].userId %>">Check full logs</a></p>
    </article>
    <hr>
  <% } %>
  <% include footer.ejs %>
<% } else { %>
  <h1>Couldn't find a user with this username. Please try again.</h1>
<% } %>
